.regular-btn {
  background-color: rgb(118 80 59);
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  border-radius: 20px;
}

.logout-btn{
  border: 2px solid darkcyan;
  border-radius: 5px;
  padding: 0px 20px;
}